@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Barra navegación */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    background-image: url(../images/BK.png);
}

a{
    text-decoration: none;
    font-family: Audiowide;
    font-weight: bold;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #1c1026;
    height: 60px;
}

.logo{
    width: 250px;
}

.logo a{
    font-family: Audiowide;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul{
    padding: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 20px;
    font-size: 14px;
}

nav ul li a:hover{
    color: magenta;
    transition: all 0.5s ease-in-out;
}


/* Formulario */
h1{
    font-family: Audiowide;
    color: #fff;
    margin: auto;
    height: 50px;
    width: 500px;
    padding: 5px;
    padding-top: 10px;
}

form{
    font-family: Audiowide;
    color: #fff;
    margin: auto;
    height: 600px;
    width: 800px;
    line-height: 40px;
}